@use "../src/assets/sass/variables" as *;
*{
    box-sizing:border-box;
    font-family: 'open sans', helvetica, arial, sans;
  }
.app{
    background-color: $color-light-grey;
    display:flex ;
    flex-direction: column;
}