@use "../../assets/sass/variables" as *;
.nav{
    display: flex;
    justify-content: space-between;
    .nav-menu__item{
       padding: 2px;
       color:$color-white
   
    }
    background-color: $color-secondary;
    height: 40px;
    color: $color-white;
    text-align:left;
    padding: 10px;
    .title{
        padding:15px 20px 10px;
        margin: 15px 5px 10px;
    
       
    }
    }
    
    

