@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

$color-black: #2d3436;
$font-color-light-black: #4d5578;
$color-white: #ffffff;
$color-grey: #d6d4d4;
$color-light-grey: #ececea;
$color-light-grey-secondary: #b9b9b9;
$color-blue:rgb(40, 25, 172);


$color-primary: #29073c;
$color-secondary:  #280550;
$font-poppins:Poppins;
$font-size-S: 10px;
$font-size-SS: 11px;
$font-size-SM: 15px;
$font-size-M: 20px;
$font-size-MM: 23px;
$font-size-ML: 25px;
$font-size-L: 32px;
